<!DOCTYPE html>
<html lang="en">
<style>
table.purpleHorizon {
	background-color: #B9B9B9;
	width: 80%;
	height: 80%;
	text-align: center;
	border-collapse: collapse;
}

table.purpleHorizon td, table.purpleHorizon th {
	border: 0px solid #F5F757;
	padding: 6px 0px;
}

table.purpleHorizon tbody td {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

table.purpleHorizon tr:nth-child(even) {
	background: #E5E5E5;
}

table.purpleHorizon thead {
	background: #FFFFFF;
	border-bottom: 0px solid #792396;
}

table.purpleHorizon thead th {
	font-size: 20px;
	font-weight: bold;
	color: #020202;
	text-align: center;
	border-left: 0px solid #792396;
}

table.purpleHorizon thead th:first-child {
	border-left: none;
}

table.purpleHorizon tfoot td {
	font-size: 13px;
}

table.purpleHorizon tfoot .links {
	text-align: right;
}

table.purpleHorizon tfoot .links a {
	display: inline-block;
	background: #792396;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
</style>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Agency - Start Bootstrap Theme</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.png" />
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
	rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="/"><img
				src="assets/img/navbar-logo.png" style="width: 300px; height: 120px"
				alt="..." /></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
					<li class="nav-item"><a class="nav-link" href="/articulos">articulos</a></li>
					<li class="nav-item"><a class="nav-link" href="/sucursal">sucursales</a></li>
					<li class="nav-item"><a class="nav-link" href="/cupon">cupones</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			<div class="masthead-heading text-uppercase">Articulos
				Seleccionados</div>
		</div>
	</header>
	<!-- Portfolio Grid-->
	<section class="page-section bg-light" id="portfolio">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Articulos</h2>
			</div>
		</div>
		<div class="container" align="center">
			<table class="purpleHorizon">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>cantidad</th>
						<th></th>
						<th>Precio c/u</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mcnifica</td>
						<td>2</td>
						<td><img class="img-fluid" src="assets/img/portfolio/1.png" alt="..." width="200" height="200"></td>
						<td>450$</td>
					</tr>
					<tr>
						<td>triple con queso</td>
						<td>1</td>
						<td><img class="img-fluid" src="assets/img/portfolio/2.png" alt="..." width="200" height="200"></td>
						<td>650$</td>
					</tr>
					<tr>
						<td>Mcnuggets</td>
						<td>1</td>
						<td><img class="img-fluid" src="assets/img/portfolio/3.png" alt="..." width="200" height="200"></td>
						<td>550$</td>
					</tr>
				</tbody>
			</table>
			<br>
			Codigo de descuento  <input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10"><a class="nav-link" href="/carritoa"> <button class="btn btn-primary btn-xl text-uppercase disabled"
						type=button onclick=>Aplicar descuento</button></a>
			<br>
			<a class="nav-link" href="/carritopago"> <button class="btn btn-primary btn-xl text-uppercase disabled"
						type=button onclick=>Continuar con la compra</button></a>
		</div>
	</section>

	<!-- Team-->
	<!-- Clients-->
	<!-- Contact-->
	<section class="page-section" id="contact">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Envienos sus
					comentarios</h2>
			</div>
			<!-- * * * * * * * * * * * * * * *-->
			<!-- * * SB Forms Contact Form * *-->
			<!-- * * * * * * * * * * * * * * *-->
			<!-- This form is pre-integrated with SB Forms.-->
			<!-- To make this form functional, sign up at-->
			<!-- https://startbootstrap.com/solution/contact-forms-->
			<!-- to get an API token!-->
			<form id="contactForm" data-sb-form-api-token="API_TOKEN">
				<div class="row align-items-stretch mb-5">
					<div class="col-md-6">
						<div class="form-group">
							<!-- Name input-->
							<input class="form-control" id="name" type="text"
								placeholder="Nombre *" data-sb-validations="required" />
							<div class="invalid-feedback" data-sb-feedback="name:required">un
								nombre es requerido.</div>
						</div>
						<div class="form-group">
							<!-- Email address input-->
							<input class="form-control" id="email" type="email"
								placeholder="Email *" data-sb-validations="required,email" />
							<div class="invalid-feedback" data-sb-feedback="email:required">un
								Email es requerido.</div>
							<div class="invalid-feedback" data-sb-feedback="email:email">Su
								mail es invalido.</div>
						</div>
						<div class="form-group mb-md-0">
							<!-- Phone number input-->
							<input class="form-control" id="phone" type="tel"
								placeholder="numero de telefono *"
								data-sb-validations="required" />
							<div class="invalid-feedback" data-sb-feedback="phone:required">A
								numero de telefono requerido.</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-group-textarea mb-md-0">
							<!-- Message input-->
							<textarea class="form-control" id="message"
								placeholder="su mensaje *" data-sb-validations="required"></textarea>
							<div class="invalid-feedback" data-sb-feedback="message:required">A
								Es necesario escribir su mensaje.</div>
						</div>
					</div>
				</div>
				<!-- Submit success message-->
				<!---->
				<!-- This is what your users will see when the form-->
				<!-- has successfully submitted-->
				<div class="d-none" id="submitSuccessMessage">
					<div class="text-center text-white mb-3">
						<div class="fw-bolder">Gracias por su opinion!</div>
					</div>
				</div>
				<!-- Submit error message-->
				<!---->
				<!-- This is what your users will see when there is-->
				<!-- an error submitting the form-->
				<div class="d-none" id="submitErrorMessage">
					<div class="text-center text-danger mb-3">Error sending
						message!</div>
				</div>
				<!-- Submit Button-->
				<div class="text-center">
					<button class="btn btn-primary btn-xl text-uppercase disabled"
						id="submitButton" type="submit">Enviar mensaje</button>
				</div>
			</form>
		</div>
	</section>
	<!-- Footer-->
	<footer class="footer py-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-lg-start">Copyright &copy; Mcdonalds</div>
				<div class="col-lg-4 my-3 my-lg-0">
					<a class="btn btn-dark btn-social mx-2" href="https://twitter.com/McDonalds_Ar"
						aria-label="Twitter"><i class="fab fa-twitter"></i></a> <a
						class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/McDonaldsArgentina"
						aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
				</div>
				<div class="col-lg-4 text-lg-end">
					<a class="link-dark text-decoration-none me-3" href="#!">Privacy
						Policy</a> <a class="link-dark text-decoration-none" href="#!">Terms
						of Use</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Portfolio Modals-->
	<!-- Portfolio item 1 modal popup-->
	<th:block th:each="producto : ${productos}">
		<div class="portfolio-modal modal fade"
			th:id="@{${'portfolioModal'+ producto.idProducto}}" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-bs-dismiss="modal">
						<img src="assets/img/close-icon.svg" alt="Close modal" />
					</div>
					<div class="container ">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<div class="modal-body">
									<!-- Project details-->
									<span th:text="${producto.nombre}"> </span> <img
										class="img-fluid d-block mx-auto"
										th:src="@{${'/assets/img/portfolio/'+ producto.idProducto +'.png'}}"
										alt="..." /> Cantidad <input type="number" id="Cantidad"
										name="tentacles" min="1" max="10">
									<ul class="list-inline">
									</ul>
									<button onclick="alert('se agrego el articulo al carrito');">Agregar
										al carrito</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
